<div style="min-height: 80vh; background-color: gray;">
    <h1 style="text-align: center;">Editar Producto</h1>
    <div style="display: flex; align-items: center; place-content: space-around;">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="width: 150px;">
        <div nz-row>
          <div nz-col nzSpan="24" style="margin-top: 20px;">
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is Required!">
                <input nz-input placeholder="Name" formControlName="name"/>
              </nz-form-control>
            </nz-form-item>
          </div>
  
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is Required!">
                <input nz-input type="number" placeholder="Price" formControlName="price"/>
              </nz-form-control>
            </nz-form-item>
          </div>
  
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is Required!">
                <textarea rows="1" nz-input placeholder="Description" formControlName="description"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
  
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is Required!">
                <input nz-input placeholder="Cost" formControlName="cost"/>
              </nz-form-control>
            </nz-form-item>
          </div>
  
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is Required!">
                <input nz-input placeholder="Code" formControlName="code"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
  
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [disabled]="!validateForm.valid">Update</button>
      </form>
    </div>
  </div>
  